@media screen and (max-width: 749px) {
  .section-collection-list {
    .page-width {
      padding-left: 0;
      padding-right: 0;
    }
    .collection-list {
      &:not(.slider) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

.collection-list {
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 749px) {
    &:not(.slider) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 989px) {
		.slider.collection-list--1-items,
		.slider.collection-list--2-items,
		.slider.collection-list--3-items,
		.slider.collection-list--4-items {
			padding-bottom: 0;
		}
  }

	&.slider &__item {
		@media screen and (max-width: 989px) {
      max-width: 100%;
		}
	}

  &-title {
    margin: 0;
  }

  &__item {
    @media screen and (min-width: 750px) {
      a {
        &:hover {
          box-shadow: none;
        }
      }
    }

    &:only-child {
      max-width: 100%;
      width: 100%;
    }
  }

  &-view-all {
    margin-top: 2rem;
  }
}
