.main-page-title {
  margin-bottom: 3rem;
  @media screen and (min-width: 750px) {
    margin-bottom: 4rem;
  }
}

.page {
  &-title {
    margin-top: 0;
  }
  &-placeholder {
    width: 52.5rem;
    height: 52.5rem;
  }
  &-placeholder-wrapper {
    display: flex;
    justify-content: center;
  }
}